.Picture {
	cursor: pointer;
	max-width: 100%;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.modalOverlay {
	position: fixed;
	inset: 0;
	z-index: 50;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
	position: relative;
	padding: 1rem;
	max-width: 90vw;
	max-height: 90vh;
	display: flex;
	flex-direction: column;
	gap: 2svh;
}

.closeButton {
	color: var(--text);
	background-color: var(--buttons);
	border: 0;
	font-size: 2rem;
	cursor: pointer;
	width: 20svw;
	align-self: center;
}

.modalImage {
	object-fit: contain;
	max-width: 100%;
	max-height: 80vh;
}
