.page {
	display: flex;
	flex-direction: column;
	gap: 1svh;
}

.page h2::before,
.page h3::before,
.page h4::before,
.page h5::before,
.page h6::before {
	background: var(--accent);
	content: '';
	height: 0.75rem;
	width: 0.75rem;
	margin-right: 0.75rem;
	display: inline-block;
}

.title {
	font-size: 2.5rem;
}

.title::before {
	content: '>';
	color: var(--accent);
	display: inline-block;
}

.tagContainer {
	color: var(--accent);
	display: flex;
	flex-wrap: wrap;
	gap: 1svw;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 1svh;
}

.header > *:not(time) {
	font-family: var(--font-departure-mono);
}

.post {
	display: flex;
	flex-direction: column;
	gap: 1svh;
	line-height: 1.5;
}

.post > ul {
	list-style: '→ ' inside;
}
