.page {
	display: flex;
	flex-direction: column;
}

.page h2::before,
.page h3::before,
.page h4::before,
.page h5::before,
.page h6::before {
	background: var(--accent);
	content: '';
	height: 0.5svw;
	width: 0.5svw;
	margin-right: 0.5svw;
	display: inline-block;
}

.title {
	font-size: 2.5rem;
}

.title::before {
	content: '>';
	color: var(--accent);
	display: inline-block;
}

.tagContainer {
	color: var(--accent);
	display: flex;
	flex-wrap: wrap;
	gap: 1svw;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 1svh;
}
