@media (prefers-color-scheme: light) {
  :root {
    --text: #1d2225;
	--text-muted: #4b5861;
    --background: #f0f2f4;
    --primary: #71838e;
    --secondary: #b8b8c7;
    --accent: #e40716;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #dadfe2;
	--text-muted: #a2a6a9;
    --background: #181a1c;
    --primary: #71838e;
    --secondary: #383847;
    --accent: #f81b2a;
  }
}

html {
	min-height: 100svh;
	box-sizing: border-box;
	color: var(--text);
	background-color: var(--background);
	font-family: system-ui, sans-serif;
	padding: 0;
}