:root {
	--text: rgba(30, 35, 38, 1);
	--accent: rgb(228, 7, 21);
	--buttons: rgb(219, 218, 221);
	--bg: rgba(241, 244, 246, 1);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: rgba(241, 244, 246, 1);
		--accent: rgb(228, 7, 21);
		--buttons: rgba(53, 51, 57, 1);
		--bg: rgba(30, 35, 38, 1);
	}
}

html {
	padding: 32px 30svw;
	min-height: 100svh;
	width: 100svw;
	box-sizing: border-box;
	color: var(--text);
	background-color: var(--bg);
}

.navbarElementsContainer {
	display: flex;
	gap: 4px;
	list-style: none;
}

.link {
	color: var(--text);
	background-color: var(--buttons);
	text-decoration: none;
	border-radius: 8px;
	padding: 4px 8px;
	border: solid 2px var(--buttons);
}

.link:hover {
	color: var(--accent);
	background: 0;
}
