.page {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.textBlock {
	line-height: 1.5;
}

.title::before {
	background: var(--accent);
	content: '';
	height: 0.5svw;
	width: 0.5svw;
	margin-right: 0.5svw;
	display: inline-block;
}
