.navbar {
	position: sticky;
	top: 0;
	z-index: 2;
}

.navbarElementsContainer {
	display: flex;
	list-style: none;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 2px;
	background: var(--bg-shade);
	border: solid 2px var(--bg-shade);
}

.navbarElementsContainer>* {
	flex: 1;
}

.navbarElementsContainer>*:nth-child(3),
.navbarElementsContainer>*:nth-child(4) {
	flex: 2;
}


@keyframes pulse {
	50% {
		background-color: rgba(var(--accent), 0.75);
	}
}

.navbarLink {
	color: var(--text);
	text-decoration: none;
	padding: 4px 8px;
	font-family: var(--font-departure-mono);
	width: 100%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	z-index: 0;
	background-color: var(--bg);
	height: 100%;
	transition-duration: 0.5s;
	transition-property: color, background-color;
}

.navbarLink:hover,
.navbarLink:focus,
.navbarLink:active {
	animation-name: pulse;
	animation-duration: 0.8s;
	animation-delay: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	background-color: var(--accent);
	color: var(--text);
}

@media screen and (max-width: 540px) {
	.navbarLink {
		font-size: 0.8rem;
	}
}

.activeTab {
	border-bottom: 2px solid var(--accent);
	color: var(--text);
}

@media (prefers-color-scheme: dark) {
	.navbarLink:hover {
		color: var(--text);
	}

	.activeTab {
		color: var(--text);
	}
}



@media screen and (max-width: 540px) {
	.navbarLink {
		font-size: 0.8rem;
	}
}

.activeTab {
	border-bottom: 2px solid var(--accent);
	color: var(--text);
}

@media (prefers-color-scheme: dark) {
	.navbarLink:hover {
		color: var(--text);
	}

	.activeTab {
		color: var(--text);
	}
}