.post {
	background: var(--buttons);
	padding: 1svh 1svw;
	border-left: 1svw solid var(--accent);
}

.post:hover {
	background: 0;
}

.post > h2 {
	color: var(--accent);
}

.link {
	text-decoration: none;
	color: var(--text);
}

.tags {
	color: var(--accent);
	display: flex;
	flex-wrap: wrap;
	gap: 1svw;
}

.metadataContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1svw;
}
